.header {
    padding: 10px;
    text-align: center;
    color: lemonchiffon;
}
.footer {
    padding: 20px;
    text-align: center;
    background: lemonchiffon;
}
.navbar {
    display: flex;
    background-color: seagreen;
    border-radius: 4px;
}
.navbar a {
    color: palegoldenrod;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-size: 24px;
}
.navbar a:hover {
    color: seagreen;
    background-color: lemonchiffon;
}
h1, h2{
    color: seagreen;
    text-align: center;
}
p, footer , dt, dl, di, ul, li{
    color: seagreen;
    font-size: large;
}
div {
    background-color: lemonchiffon;
    color: seagreen;
}
div.gallery {
    border: 1px solid #ccc;
    flex: 50%;
}
div.gallery img {
    width: 20%;
    height: auto;
}
div.desc {
    padding: 15px;
    text-align: center;
}
.row {
    display: flex;
}
.column1 {
    flex: 25%;
    padding: 10px;
    background-color: lemonchiffon;
}
.column2 {
    flex: 75%;
    padding: 10px;
    background-color: palegoldenrod;
}
img {
    object-fit: contain;
    max-width: 60%;
    height: auto;
}
a {
    text-decoration: none;
    color: lemonchiffon;
}
#grad1 {
    background-image: linear-gradient(to right, rgba(255,250,205,1), rgba(46, 139, 87,1));
}
.container {
    border-radius: 4px;
    padding: 20px;
    background-color: seagreen;
}
label {
    color: seagreen;
    font-size: larger;
    background-color: lemonchiffon;
    border-radius: 4px;
    padding: 2px;
}
@media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction:column;
    }
} 